@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* properties */
:root {
    --primary-colour: #383d5f;
    --white-colour: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

.text-center {
    text-align: center;
}

.text-white {
    color: var(--white-colour);
}

.my-2 {
    margin: 1.5rem 0;
}

.md {
    font-size: 2rem;
}

.py-1 {
    padding: 1rem 0;
}

.bg-dark {
    background-color: var(--primary-colour);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2, h4 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}


p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    background-color: var(--primary-colour);
    color: var(--white-colour);
    height: 70px;
    opacity: 0;
    animation-name: fadeIN;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.navbar .ul {
    display: flex;
}

.navbar a {
    /* color: #fff; */
    padding: 10px;
    margin: 0 5px;
}

.langs {
    /* position: relative;  */
    float: left;
    overflow: hidden;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-colour);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 80px;
}

.showcase p {
    font-size: 35px;
    margin: 20px 0;
}
.showcase .grid {
    overflow: visible;
    grid-template-columns:  2fr 1fr;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-image {
    position: relative;
    height: 400px;
    width: 350px;
    z-index: 100;
    animation: slideInFromRight 1s ease-in;
}
.showcase-image .profile {
    height: 100%;
    width: 100%;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 120px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
}

/* Services */
.services {
    padding: 50px;
    animation: slideInFromBottom 1s ease-in;
}

.services .flex {
    flex-wrap: wrap;
}

.services .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.1s ease-in;
}

.services .card h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.services .card:hover{
    transform: translateY(-5px);
}

/* Contact */

.contact {
    background-color: var(--primary-colour);
    padding-bottom: 20px;
}

.contact h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

.contact .flex {
    justify-content: flex-end;
}

.contact .form-control {
    margin: 30px 0;
}

.contact input[type='text'],
.contact input[type='email'] {
    border: 0;
    border-bottom: 1px solid var(--white-colour);
    background-color: var(--primary-colour);
    color: var(--white-colour);
    font-size: 20px;
    width: 100%;
    padding: 3px;
}

.contact input:focus {
    outline: none;
}

.contact form a {
    text-decoration: underline;
}

/* Footer */
.footer {
    color: #fff;
    padding: 20px 0;
}

.social a {
    color: #fff;
    margin: 0 10px;
}

/* Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
} 

.flex {
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 10px;
}

.card-small {
    height: 150px;
    width: 100px;
    text-align: center;
    margin: 10px;
}

.image-fit {
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-colour);
    color: var(--white-colour);
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

/* .btn-small {
    padding: 5px 10px;
    margin: 0;
} */

.btn-light {
    background-color:var(--white-colour);
    color: var(--primary-colour);
}

.btn-light-round {
    border: 1px var(--white-colour) solid;
    border-radius: 50px;
}

.btn-nobg {
    border: 0px solid var(--primary-colour);
}

.btn:hover {
    transition: 1.5s;
    transform: scale(1.2), translate(-20%, -20%);
    border: 1px solid #fff;
    border-radius: 50px;
}

/* Animations */
@keyframes fadeIN {
    0% {
        opacity: 0;;
    }

    100% {
        opacity: 1;;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Tablets and under  */
@media(max-width:977px) {
    .showcase-image {
        height: 300px;
        width: 250px;
    }

    .social a {
        margin: 0 3px;
    }
}

@media(max-width:870px) {
    .footer .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .grid,
    .showcase .grid,
    .footer .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
        text-align: center;
    }

    .showcase-image {
        justify-self: center;
        margin: auto;
    }

    .services {
        animation: slideInFromLeft 1s ease-in;
    }
    
}


/* Mobile */
@media(max-width: 200x) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}